<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.august1996.top.transitionanimationsdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TransitionActivity" />
        <activity android:name=".TransitionDemoActivity" />
        <activity android:name=".ShareElementsActivity" />
        <activity android:name=".ViewAnimationActivity" />
        <activity android:name=".SceneActivity" />
        <activity android:name=".CircularAnimationsActivity"></activity>
    </application>

</manifest>